/* ********** Countdown Component ********** */
.countdown {
  background-color: var(--primary-color);
  padding: 6rem 0;

  // .countdown__container
  &__container {
    color: var(--text-color-white);
    text-align: center;
  }

  // .countdown__title
  &__title {
    font-family: var(--tertiary-font);
    font-size: 2.5rem;

    @include mq(m) { width: 80%; margin: 0 auto; font-size: 3rem; }
    @include mq(l) { width: 60%; font-size: 3.5rem; }
  }

  // .countdown__timer
  &__wrapper {
    margin: 5rem auto 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include mq(m) { width: 50%; }
    @include mq(l) { width: 20%; }
  }

  // .countdown__time
  &__time {
    position: relative;
    font-family: var(--tertiary-font);
    font-size: 3rem;

    span {
      position: absolute;
      left: 10%;
      bottom: -50%;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: var(--tertiary-color);
    }

    @include mq(m) { font-size: 4rem; }
    @include mq(l) { font-size: 4.5rem; }
  }

  // .countdown__message
  &__message {
    font-family: var(--secondary-font);
    font-weight: bolder;
    font-size: 3rem;
  }
}
