/* ********** Details Component ********** */
.details {
  background-color: var(--primary-color);
  padding: 10rem 0;

  // .details__container
  &__container {
    text-align: center;
    color: var(--text-color-white);
    font-family: var(--secondary-font);
  }

  // .details__item
  &__item {
    // .details__item:nth-child(2)
    &:nth-child(2) {
      margin: 8rem auto;
      @include mq(m) { width: 80%; }
    }

    // .details__item:last-child
    &:last-child {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-content: center;
      align-items: center;
      gap: 5rem 0;

      @include mq(m) {
        grid-template-columns: repeat(4,1fr);
        width: 80%;
        margin: auto;
      }

      @include mq(l) { width: 40%; }
    }
  }

  // .details__app
  &__app {
    width: 80%;

    @include mq(m) { width: 40%; }
  }

  // .details__title
  &__title {
    font-size: 2rem;
    text-transform: uppercase;
  }

  // .details__icon
  &__icon {
    width: 8rem;

    @include mq(l) { width: 6rem; }
  }

  // .details__activity
  &__activity {
    font-size: 2.2rem;
    font-weight: bolder;

    @include mq(l) { font-size: 2rem; }
  }
}
