/* ********** Features Component ********** */
.features {
  position: relative;
  background-color: var(--primary-color);
  overflow: hidden;

  @include mq(m) { overflow: visible; }

  // .features__container
  &__container {
    position: relative;
    left: 0;
    padding: 5rem 0 0;
    width: calc(100% * 3);
    display: flex;
    animation: slider 6s linear infinite;

    @include mq(m) {
      padding-top: 10rem;
      width: 100%;
      animation: none;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      justify-content: center;
      align-items: center;
      column-gap: 2rem;
    }
  }

  // .features__item
  &__item {
    text-align: center;
    @include mq(m) { &:nth-child(2) { transform: scale(1.3); } }
  }

  // .features__title
  &__title {
    position: relative;
    display: inline-block;
    color: var(--secondary-color);
    font-size: 5rem;
    -webkit-text-stroke: 0.1px var(--primary-color);

    &::before, &::after {
      content: attr(data-screen);
      position: absolute;
      top: 0;
      left: 0;
    }

    &::before {
      color: var(--quaternary-color);
      z-index: 1;
      -webkit-text-stroke: 0.1px var(--primary-color);
      transform: translate(.5rem, -.5rem);
    }

    &::after {
      color: var(--tertiary-color);
      z-index: 2;
      -webkit-text-stroke: 0.1px var(--primary-color);
      transform: translate(1rem, -1rem);
    }

    @include mq(m) { font-size: 4rem; }
    @include mq(l) { font-size: 5rem; }
  }

  // .features__screen
  &__screen {
    display: block;
    width: 100%;
    padding: 0 10%;

    @include mq(m) { height: 40rem; width: auto; }
    @include mq(l) { height: 60rem; }
  }
}

@keyframes slider {
  0%, 30% { left: 0; }
  33%, 63% { left: -100%; }
  66%, 97% { left: -200%; }
}
