/* ********** Hero Component ********** */
.hero {
  background: var(--primary-color) url('/assets/images/people.jpg') no-repeat center/cover;
  background-position-y: 8rem ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &--landing {
    background: var(--primary-color) url('/assets/images/party.jpg') no-repeat center/cover;
    background-position-y: 0;
  }

  // .hero__container
  &__container {
    text-align: center;
    color: var(--secondary-color);
  }

  // .hero__image
  &__image {
    width: 50%;

    @include mq(m) {
      width: 20rem;
    }

    // .hero__image--logo
    &--logo {
      @include mq(m) { width: 50%; }
      @include mq(l) { width: 30%; }
    }

    // .hero__image--glass
    &--glass {
      @include mq(m) { width: 70%; }
      @include mq(l) { width: 40%; }
    }
  }

  // .hero__title
  &__title {
    font-family: var(--secondary-font);
    font-weight: bolder;
    font-size: 4rem;
    margin: auto;

    @include mq(m) { font-size: 5rem; }
  }

  // .hero__text
  &__text {
    font-family: var(--secondary-font);
    font-weight: lighter;
    font-size: 2.2rem;

    @include mq(m) { margin: 5rem auto; }
    @include mq(l) { width: 70%; }
  }

  // .hero__download
  &__download {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mq(m) { width: 60%; margin: auto; }
    @include mq(l) { width: 40%; }
  }

  // .hero__store
  &__store {
    width: 18rem;
    height: auto;
    cursor: pointer;

    @include mq(m) { width: 20rem; }
  }

  // .hero__description
  &__description {
    font-family: var(--secondary-font);
    font-size: 2rem;
    margin: 3rem 0;
    font-style: italic;

    strong { color: var(--tertiary-color); }
  }
}
