/* ********** Logo ********** */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logo {
  margin: auto;
  text-align: center;
  color: var(--text-color-white);

  // logo__image
  &__image {
    width: 12rem;
    animation: logo-spin infinite 15s linear;

    @include mq(m) { width: 20rem; }
  }

  // logo__title
  &__title {
    margin: 3rem 0;
    font-family: var(--primary-font-black);
    font-size: 3.5rem;

    span { color: var(--tertiary-color); }

    @include mq(m) { font-size: 6rem; }
  }

  &__brands img{
    width: 15%;
    margin-right: 2rem;

    &:last-child { margin-right: 0; }
  }

  // logo__copy
  &__copy {
    display: block;
    margin-top: 4rem;
    font-size: 1.6rem;
  }

  // logo__link
  &__link {
    color: var(--secondary-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
