/* ********** Newsletter Component ********** */
.newsletter {
  background-color: var(--primary-color);
  padding: 20rem 0;

  @include mq(l) { padding-bottom: 30rem; }

  // .newsletter__container
  &__container { text-align: center; }

  // .newsletter__title
  &__title {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: transparent;
    -webkit-text-stroke: 0.1px var(--secondary-color);

    &::before, &::after {
      content: attr(data-newsletter);
      position: absolute;
      top: 0;
      left: 0;
    }

    &::before {
      color: var(--tertiary-color);
      z-index: 1;
      -webkit-text-stroke: 0.1px var(--primary-color);
      transform: translate(.5rem, -.5rem);
    }

    &::after {
      color: var(--text-color-white);
      z-index: 2;
      -webkit-text-stroke: 0.1px var(--primary-color);
      transform: translate(1rem, -1rem);
    }

    @include mq(l) { font-size: 5rem; }
    @include mq(xl) { font-size: 6rem; }
  }

  // .newsletter__form
  &__form {
    background-color: var(--secondary-color);
    border-radius: 3rem;
    height: 5rem;
    padding: 1rem;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(m) { width: 50%; }
    @include mq(l) { width: 40%; }
    @include mq(xl) { width: 50rem; }
  }

  // .newsletter__email
  &__email {
    border: none;
    background-color: var(--secondary-color);
    outline: 0;
    padding-left: 2rem;
    width: 27rem;
    font-family: var(--secondary-font);
    font-size: 1.6rem;

    &::placeholder { font-family: var(--secondary-font); }

    @include mq(l) { width: 40rem; }
  }

  // .newsletter__button
  &__button {
    background: var(--tertiary-color) url('/assets/images/icon-send.svg') no-repeat;
    background-position: center;
    background-size: 2rem;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;

    &:hover { background-color: var(--quaternary-color); }
  }
}
