/* ********** Register Component ********** */
.register {
  background-color: var(--primary-color);
  padding-bottom: 5rem;

  // .register__container
  &__container {
    text-align: center;
    color: var(--text-color-white);

    @include mq(m) { width: 40%; margin: 0 auto; }
  }

  // .register__title
  &__title {
    font-family: var(--secondary-font);
    font-weight: lighter;
    font-size: 2rem;
  }

  // .register__form
  &__form {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include mq(l) { width: 70%; margin: 3rem auto 0; }
  }

  // .register__email
  &__email {
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    width: 25rem;
    height: 4rem;
    outline: 0;
    padding-left: 2rem;
    font-family: var(--secondary-font);
    font-size: 1.6rem;

    &::placeholder { font-family: var(--secondary-font); }

    @include mq(l) { width: 30rem; }
  }

  // .register__button
  &__button {
    background-color: var(--quaternary-color);
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;

    &:hover { background-color: var(--tertiary-color); }
  }
}
