/* ********** Averta Font ********** */

@font-face {
  font-family: 'Averta Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Averta Regular'), url('/assets/fonts/Averta.woff') format('woff');
}

@font-face {
  font-family: 'Averta Black';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Averta Black'), url('/assets/fonts/Averta_Black.woff') format('woff');
}
