/* ********** Custom Properties ********** */
:root {
  --primary-font: 'Lilita One', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --font-size: 62.5%;
  --line-height: 1.6;

  --primary-color:    #0A090D;
  --secondary-color:  #F8F6F6;
  --tertiary-color:   #F7971D;
  --quaternary-color: #FE2C55;

  --text-color-black: var(--primary-color);
  --text-color-white: var(--secondary-color);

  --z-index-down:   25;
  --z-index-middle: 50;
  --z-index-up:     75;
  --z-index-above:  100;
}

/* ********** Breakpoints ********** */
$breakpoints: (
  xs: 480px,  /* 30em / 16 */
  s:  600px,  /* 37.5em / 16 */
  m:  768px,  /* 45em / 16 */
  l:  1024px, /* 64em / 16 */
  xl: 1200px  /* 75em / 16 */
);
