section.app
  .app__container.l-container
    h2.app__title #[span Whether you're looking for a place] to eat, drink, party, or play, hubb makes it easy for you to plan your #[span next adventure with friends].
    .app__wrapper
      .app__item
        h3(class="app__feature", data-feature="Discover Experiences") Discover Experiences
        ul.app__set
          li.app__list Find cool places and events near you
          li.app__list Make and share your plans
          li.app__list Invite your friends to join you
      .app__item
        img(class="app__screen", src="/assets/images/app-ticket.png", alt="Tickets on Hubb App")
      .app__item
        h3(class="app__feature", data-feature="Make Memories") Make Memories
        ul.app__set
          li.app__list Buy tickets straight from the App
          li.app__list Initiate a date with magic planner
          li.app__list See who is hanging out and join without having to call
