.columns
  img(class="columns__image", src="/assets/images/column.png", alt="Column Hubb App")
  img(class="columns__image", src="/assets/images/hole.png", alt="Hole Hubb App")
  img(class="columns__image", src="/assets/images/pillars.png", alt="Pillars Hubb App")
  img(class="columns__image", src="/assets/images/pillars-medium.png", alt="Pillars Hubb App")
  img(class="columns__image", src="/assets/images/column.png", alt="Column Hubb App")
  img(class="columns__image", src="/assets/images/column.png", alt="Column Hubb App")
