section.details
  .details__container.l-container
    .details__item
      img(class="details__app", loading="lazy", src="/assets/images/hubb-app.gif", alt="Hubb App Userflow")
      .details__reaction
        .details__like
        span.details__counter 545
    .details__item
      h2.details__title Whether you're looking for a place to eat, drink, party, or play, hubb makes it easy for you to plan your next adventure with friends.
    .details__item
      .details__wrapper
        img(class="details__icon", loading="lazy", src="/assets/images/icon-out.svg", alt="Going Out with Hubb")
        p.details__activity Going out
      .details__wrapper
        img(class="details__icon", loading="lazy", src="/assets/images/icon-date.svg", alt="Date with Hubb")
        p.details__activity Date
      .details__wrapper
        img(class="details__icon", loading="lazy", src="/assets/images/icon-drinks.svg", alt="Drinks with Hubb")
        p.details__activity Drinks
      .details__wrapper
        img(class="details__icon", loading="lazy", src="/assets/images/icon-food.svg", alt="Food with Hubb")
        p.details__activity Food
