section.experience
  .experience__container.l-container
    h2.experience__title Click the experience #[span you want to live!]
    .experience__wrapper
      a(class="experience__link", href="#going-out")
        .experience__item
          img(class="experience__icon", loading="lazy", src="/assets/images/icon-out.svg", alt="Going Out with Hubb")
          p.details__activity Going out
      a(class="experience__link", href="#date")
        .experience__item
          img(class="experience__icon", loading="lazy", src="/assets/images/icon-date.svg", alt="Date with Hubb")
          p.details__activity Date
      a(class="experience__link", href="#drinks")
        .experience__item
          img(class="experience__icon", loading="lazy", src="/assets/images/icon-drinks.svg", alt="Drinks with Hubb")
          p.details__activity Drinks
      a(class="experience__link", href="#food")
        .experience__item
          img(class="experience__icon", loading="lazy", src="/assets/images/icon-food.svg", alt="Food with Hubb")
          p.details__activity Food
