section.features
  .features__container.l-container
    .features__item
      h2(class="features__title", data-screen="Chat") Chat
      img(class="features__screen", loading="lazy", src="/assets/images/app-chat.png", alt="Invite friends to group chats on Hubb App")
    .features__item
      h2(class="features__title", data-screen="Discover") Discover
      img(class="features__screen", loading="lazy", src="/assets/images/app-discover.png", alt="Find cool events near you on Hubb App")
    .features__item
      h2(class="features__title", data-screen="Hangout") Hangout
      img(class="features__screen", loading="lazy", src="/assets/images/app-hangout.png", alt="Buy tickets straight from the App on Hubb App")
