footer.footer
  .footer__container.l-container
    .footer__item
      img(class="logo__image", src="/assets/images/hubb-logo.svg", alt="Hubb App")
      p.footer__description SEARCH LESS, #[br] HANG OUT MORE.
      .footer__social
        a(class="footer__link", href="javascript:void(0)", target="_blank", rel="follow noopener noreferrer"): img(src="/assets/images/icon-facebook.svg", alt="Hubb's Facebook")
        a(class="footer__link", href="javascript:void(0)", target="_blank", rel="follow noopener noreferrer"): img(src="/assets/images/icon-instagram.svg", alt="Hubb's Instagram")
        a(class="footer__link", href="javascript:void(0)", target="_blank", rel="follow noopener noreferrer"): img(src="/assets/images/icon-twitter.svg", alt="Hubb's Twitter")
        a(class="footer__link", href="javascript:void(0)", target="_blank", rel="follow noopener noreferrer"): img(src="/assets/images/icon-linkedin.svg", alt="Hubb's LinkedIn")
    .footer__item
      h4.footer__title Solutions
      ol.footer__section
        li.footer__list: a(class="footer__link", href="javascript:void(0)") Features
        li.footer__list: a(class="footer__link", href="javascript:void(0)") Integrations
    .footer__item
      h4.footer__title Resources
      ol.footer__section
        li.footer__list: a(class="footer__link", href="javascript:void(0)") Blog
        li.footer__list: a(class="footer__link", href="javascript:void(0)") Help Center
        li.footer__list: a(class="footer__link", href="javascript:void(0)") Contact Us
    .footer__item
      h4.footer__title FAQ's
      ol.footer__section
        li.footer__list: a(class="footer__link", href="terms-of-service.html") Terms of service
        li.footer__list: a(class="footer__link", href="javascript:void(0)") Privacy
