section.hero
  .hero__container.l-container
      img(class="hero__image hero__image--logo", src="/assets/images/logo.gif", alt="Hubb 3D Logo")
      h1(class="hero__title animate__animated animate__jackInTheBox") Hubb is a social hub for live experiences. Create plans, chat, book events, and share media all in one place.
      .hero__download
        a(class="hero__link", href="https://facebook.com/hubbpage?appstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", src="/assets/images/app-store.svg", alt="Download Hubb App on the App Store", data-aos="fade-up", data-aos-duration="500")
        a(class="hero__link", href="https://facebook.com/hubbpage?playstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", src="/assets/images/google-play.svg", alt="Download Hubb App on Google Play", data-aos="fade-up")
