section.hero
  .hero__container.l-container
    .hero__item
      h1.hero__title Transform ordinary days into #[span adventures with friends].
      p.hero__text Hubb is a social hub for live experiences. Create plans, chat, book events, and share media all in one place.
      .hero__download
        a(class="hero__link", href="javascript:void(0)"): img(class="hero__store", src="/assets/images/app-store.svg", alt="Download Hubb App on the App Store", data-aos="fade-up", data-aos-duration="500")
        a(class="hero__link", href="javascript:void(0)"): img(class="hero__store", src="/assets/images/google-play.svg", alt="Download Hubb App on Google Play", data-aos="fade-up")
    .hero__item
      img(class="hero__emoji hero__emoji--top", src="/assets/images/emoji-party-boy.svg", alt="Party boy on Hubb App", data-aos="fade-right")
      img(class="hero__app", src="/assets/images/app-map.png", alt="Discover plans on Hubb App", data-aos="fade-left", data-aos-duration="500")
      img(class="hero__emoji hero__emoji--bottom", src="/assets/images/emoji-party-girl.svg", alt="Party girl on Hubb App", data-aos="fade-right", data-aos-duration="1500")
