section.hero
  .hero__container.l-container
      h1.hero__title Search less, Hang out more!
      p(class="hero__text animate__animated animate__jackInTheBox") Hubb is a social hub for live experiences. Create plans, chat, book events, and share media all in one place.
      .hero__download
        a(class="hero__link", href="https://facebook.com/hubbpage?appstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", loading="lazy", src="/assets/images/app-store.svg", alt="Download Hubb App on the App Store")
        a(class="hero__link", href="https://facebook.com/hubbpage?playstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", loading="lazy", src="/assets/images/google-play.svg", alt="Download Hubb App on Google Play")
