header.header
  .header__container.l-container
    a.logo__link(href="/"): img(class="logo__image animate__animated animate__rubberBand", src="/assets/images/hubb-logo.svg", alt="Hubb Net logo")
    .hamburger#hamburger
      .hamburger__body
    nav.nav#menu
      ul.menu
        li.menu__item
          a(class="menu__link", href="/", data-text="Home") Home
        li.menu__item
          a(class="menu__link", href="/about.html", data-text="About Us") About Us
        li.menu__item
          a(class="menu__link", href="/contact.html", data-text="Contact") Contact
