section.newsletter
  .newsletter__container
    .newsletter__item
      h3(class="newsletter__title", data-newsletter="Subscribe for updates") Subscribe for updates
      form.newsletter__form
        input(class="newsletter__email", type="email", name="Email", placeholder="Enter Your Email", required)
        button(class="newsletter__button", type="submit")
    .newsletter__item
      img(class="newsletter__image", src="/assets/images/column.png", alt="Column Hubb App", data-aos="zoom-in", data-aos-duration="2000")
      img(class="newsletter__image", src="/assets/images/hole.png", alt="Hole Hubb App", data-aos="zoom-in")
      img(class="newsletter__image", src="/assets/images/pillars.png", alt="Pillars Hubb App", data-aos="zoom-in", data-aos-duration="2000")
      img(class="newsletter__image", src="/assets/images/pillars-medium.png", alt="Pillars Hubb App", data-aos="zoom-in", data-aos-duration="2000")
      img(class="newsletter__image", src="/assets/images/column.png", alt="Column Hubb App", data-aos="zoom-in", data-aos-duration="1500")
      img(class="newsletter__image", src="/assets/images/column.png", alt="Column Hubb App", data-aos="zoom-in")
