aside.people
  .people__container.l-container
    .people__item
      h3.people__title Make moments happen with
      img(class="people__logo", src="/assets/images/friends-hubb.svg", alt="Friends Hubb App")
    .people__item
      .people__content
        img(class="people__emoji people__emoji--top-left", src="/assets/images/emoji-chris.svg", alt="iOS Emoji Hubb App", data-aos="zoom-in")
        span.people__activity More places
        img(class="people__emoji people__emoji--bottom-left", src="/assets/images/emoji-lili.svg", alt="iOS Emoji Hubb App", data-aos="zoom-in", data-aos-duration="500")
        img(class="people__emoji people__emoji--bottom-right", src="/assets/images/emoji-daniel.svg", alt="iOS Emoji Hubb App", data-aos="zoom-in")
      .people__content
        span.people__activity More people
        img(class="people__emoji", src="/assets/images/emoji-vicky.svg", alt="iOS Emoji Hubb App", data-aos="zoom-in")
      .people__content
        img(class="people__emoji people__emoji--top-right", src="/assets/images/emoji-mattew.svg", alt="iOS Emoji Hubb App", data-aos="zoom-in")
        span.people__activity More fun
        img(class="people__emoji people__emoji--bottom-left", src="/assets/images/emoji-kim.svg", alt="iOS Emoji Hubb App", data-aos="zoom-in")
        img(class="people__emoji people__emoji--bottom", src="/assets/images/emoji-hugo.svg", alt="iOS Emoji Hubb App", data-aos="zoom-in", data-aos-duration="500")
