section.register
  .register__container.l-container
    h2.register__title Get a notification an early access before the release!
    form(class="register__form", id="registerForm")
      input(class="register__email", type="email", name="userEmail", placeholder="Enter Your Email", required)
      button(class="register__button", type="submit") >
