.slider#slider
    .slider__container
      .slider__wrapper.l-container
        .slider__carousel
          .slider__item
            figure.slider__figure
              img(class="slider__image", loading="lazy", src="/assets/images/hubb-plans.png", alt="Your group messaging app")
              figcaption
                h3.slider__title Your group messaging app
                p.slider__text Chat, create polls, post photos, and coordinate plans with your friends from anywhere.
          .slider__item
            figure.slider__figure
              img(class="slider__image", loading="lazy", src="/assets/images/hubb-following.png", alt="Share activities with Hubb")
              figcaption
                h3.slider__title Make memories with friends
                p.slider__text Share activities, create gathering, curate your favorites and join in meaningful events.
          .slider__item
            figure.slider__figure
              img(class="slider__image", loading="lazy", src="/assets/images/hubb-discover.png", alt="Discover with Hubb")
              figcaption
                h3.slider__title Find cool places and events
                p.slider__text Discover the best streaming and remote events, never miss out on the latest!
          .slider__item
            figure.slider__figure
              img(class="slider__image", loading="lazy", src="/assets/images/hubb-app.png", alt="Discover with Hubb")
              figcaption
                h3.slider__title Search less, Hang out more!
                .slider__stores
                  a(class="hero__link", href="https://facebook.com/hubbpage?appstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", src="/assets/images/app-store.svg", alt="Download Hubb App on the App Store")
                  a(class="hero__link", href="https://facebook.com/hubbpage?playstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", src="/assets/images/google-play.svg", alt="Download Hubb App on Google Play")
        .slider__controls #[ul]
