.stairs
  .stairs__container
    img(class="stairs__tumblr stairs__tumblr--left", src="/assets/images/stair-left.png", alt="Hubb stair")
    img(class="stairs__tumblr stairs__tumblr--right", src="/assets/images/stair-right.png", alt="Hubb stair")
