section.suscribe
  .suscribe__container.l-container
    .suscribe__item
      h3.suscribe__title Sign up to get a special access!
      form(class="newsletter__form", id="newsletterForm")
        input(class="newsletter__email", type="email", name="userEmail", placeholder="Enter Your Email", required)
        button(class="newsletter__button", type="submit")
