.video
  .video__container
    .video__item#going-out
      img(class="video__image", loading="lazy", src="/assets/images/going-out.jpg", alt="Going Out with Hubb")
    .video__item#date
      img(class="video__image", loading="lazy", src="/assets/images/date.jpg", alt="Date with Hubb")
    .video__item#drinks
      img(class="video__image", loading="lazy", src="/assets/images/drinks.jpg", alt="Drinks with Hubb")
    .video__item#food
      img(class="video__image", loading="lazy", src="/assets/images/food.jpg", alt="Food with Hubb")
