.video
  .video__container
    video(class="video__item", id="going-out", controls, poster="/assets/images/going-out.jpg")
      source(src="/assets/videos/going-out.mp4", type="video/mp4")
    video(class="video__item", id="date", controls, poster="/assets/images/date.jpg")
      source(src="/assets/videos/date.mp4", type="video/mp4")
    video(class="video__item", id="drinks", controls, poster="/assets/images/drinks.jpg")
      source(src="/assets/videos/drinks.mp4", type="video/mp4")
    video(class="video__item", id="food", controls, poster="/assets/images/food.jpg")
      source(src="/assets/videos/food.mp4", type="video/mp4")
