
/* ********** Reset ********** */

html {
  box-sizing: border-box;
  font-family: var(--primary-font), sans-serif;
  font-size: var(--font-size);
  line-height:  var(--line-height);
  color: var(--text-color-black);
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body { overflow-x: hidden;  }

ul, ol { list-style: none; }

a { text-decoration: none; }

img { max-width: 100%; height: auto; }
