extends ../template.pug
append variables
  - pageTitle       = 'About Us'
  - metaDescription = 'Our mission is to unite people by making it easy to discover and plan cool experiences together.'
  - ogUrl           = ''
  - ogImage         = ''

block body
