extends ../template.pug
append variables
  - pageTitle       = 'About Us'
  - metaDescription = 'Our mission is to unite people by making it easy to discover and plan cool experiences together.'
  - ogUrl           = 'https://hubb-me.com/about.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  //- Hero Section
  section.about
    .about__container.l-container
      h1(class="about__title", data-about="About Us") About Us
      p.about__description Hubb was created to make awesome moments happen between friends, face-to-face. Our mission is to unite people by making it easy to #[span discover and plan cool experiences together].
      img(class="about__image about__image--left", src="/assets/images/pillar.png", alt="Hubb Pillar", data-aos="fade-up-right")
      img(class="about__image about__image--right", src="/assets/images/bottom-stairs.png", alt="Hubb Stairs", data-aos="fade-up-left", data-aos-duration="2000")
