extends ../template.pug
append variables
  - pageTitle       = 'Blog'
  - metaDescription = 'Was the pandemic a factor in the growth and success of Hubb?'
  - ogUrl           = 'https://hubb-me.com/blog.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  section.blog
    .blog__container.l-container
      h1(class="blog__title", data-blog="Blog") Blog
      .blog__wrapper
        p.blog__text Was the pandemic a factor in the growth and success of Hubb?
        p.blog__text Technology and digitization has brought about rapid and dynamic change in media, society, business, and politics around the world. These radical innovations are fundamentally changing long-established consumer markets and user habits. Not only that, but they’re also rewriting the rules of the game for entire industries around the world.
        p.blog__text Streaming services, digital photography, and virtual reality applications show us how revolutionary ideas and clever niche solutions have already successfully replaced dated, established services. At the same time, disruptive innovations offer countless opportunities to revitalize dormant theories and broaden our horizons.
        p.blog__text The perfect example of this is how easily forgotten the concept of going to an event and buying tickets has become. When the pandemic hit, those things fell completely by the wayside. After over a year in lockdown, people are growing increasingly more exhausted being at home.
        p.blog__text Once the pandemic is no longer a discussion in the US, I believe that the tickets and events industry will boom at an unseen rate.
        p.blog__text For that reason, the best way to prepare for such an event is by not only creating a ticket sales website, but by building a bridge that connects the virtual world with the real world.
        p.blog__text With millions of Americans getting vaccinated everyday, something resembling normality looms in the distance. Kids will go back to their classrooms. College students will go back to attending in-person lectures. Bosses will ask their employees to spend hours driving back and forth to the office.
        p.blog__text The economy will heat up again. Hundreds of thousands of unemployed will go back to work so they can earn a paycheck for themselves and their families (and not watch viral dance videos on their cellphones).
        p.blog__text Eventually, people will go back to sitting in restaurants and bars and engaging with each other again. Doing anything but scrolling through UberEats and spending hours deciding what to watch on Hulu like we’ve all grown used to.
        p.blog__text Life will eventually claw its way back to normal and take up every spare minute and hour we have. But the newly rested, supercharged digital world will demand more of our attention than ever before. And at the same time, we will continue to expect more from our digital world.
        p.blog__text Life for us may never be the same as before. But with Hubb, at least now we’ll have the ability to merge both our virtual and real worlds into one seamless experience.
        p.blog__text Whatever future lies ahead of us, the one question that will remain is: What are we doing tonight? And the answer will be simple…
        p.blog__text “Let’s find out on Hubb!”

