extends ../template.pug
append variables
  - pageTitle       = 'Blog'
  - metaDescription = 'Was the pandemic a factor in the growth and success of Hubb?'
  - ogUrl           = 'https://hubb-me.com/blog.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
