extends ../template.pug
append variables
  - pageTitle       = 'Careers'
  - metaDescription = 'Build a career at Hubb. Browse and apply to job openings, from entry-level to senior positions, in marketing, design, engineering, and other Hubb teams.'
  - ogUrl           = 'https://hubb-me.com/careers.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  //- Banner Section
  include ../includes/banner.pug

  //- Job Section
  section.job
    .job__container.l-container
      .job__section
        h2.job__title What is Hubb mission?
        p.job__description Hubb aims to solve technology addiction by bringing people together in real life. We are more connected today than ever, thanks to social media. Yet we feel more isolated than ever. On average, American consumers spend 4 hours on their phones each day, and nowhere is this trend more worrisome than in teens. Several recent studies have found a link between smartphone use and teen depression and suicide. Hubb was designed to increase the self-confidence of its users and eliminate the anxiety and social pressure of inviting friends to hang out in real life. With Hubb, our goal is simply to help our users spend more time with their friends in the real world, to increase their overall happiness.
      .job__section
        h2.job__title.job__title--yellow Job Positions
        article.job__item
          h3.job__position CMO - Chief Marketing Officer
          p.job__location Remote
          p.job__type Part-time
          a(class="job__link", href="mailto:careers@hubb-me.com?subject=🎉 CMO - Chief Marketing Officer Position") Apply
        article.job__item
          h3.job__position CCO - Chief Commercial Officer
          p.job__location Remote
          p.job__type Part-time
          a(class="job__link", href="mailto:careers@hubb-me.com?subject=🎉 CCO - Chief Commercial Officer Position") Apply
        article.job__item
          h3.job__position Android/iOS Developer
          p.job__location Remote
          p.job__type Part-time
          a(class="job__link", href="mailto:careers@hubb-me.com?subject=🎉 Android/iOS Developer Position") Apply
        article.job__item
          h3.job__position UI/UX Developer
          p.job__location Remote
          p.job__type Part-time
          a(class="job__link", href="mailto:careers@hubb-me.com?subject=🎉 UI/UX Developer Position") Apply

  //- Columns Section
  include ../includes/columns.pug
