extends ../template.pug
append variables
  - pageTitle       = 'Careers'
  - metaDescription = 'Build a career at Hubb. Browse and apply to job openings, from entry-level to senior positions, in marketing, design, engineering, and other Hubb teams.'
  - ogUrl           = 'https://hubb-me.com/careers.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
