extends ../template.pug
append variables
  - pageTitle       = 'Contact'
  - metaDescription = 'Want to contact us? What can we help you with today? Submit and stay in touch!'
  - ogUrl           = 'https://hubb-me.com/contact.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  //- Contact Section
  section.contact
    .contact__container.l-container
      .contact__wrapper
        h1(class="contact__title", data-contact="Hubb Contact") Hubb Contact
        a(class="contact__link", href="mailto:contact@hubb-me.com?subject=🎯 Contact from Landing Page") contact@hubb-me.com
      img(class="contact__image contact__image--left", src="/assets/images/stair.png", alt="Hubb Stairs")
      img(class="contact__image contact__image--center", src="/assets/images/cube.png", alt="Hubb Cube")
      img(class="contact__image contact__image--right", src="/assets/images/door.png", alt="Hubb Door")
