extends ../template.pug
append variables
  - pageTitle       = 'Contact'
  - metaDescription = 'Want to contact us? What can we help you with today? Submit and stay in touch!'
  - ogUrl           = 'https://hubb-me.com/contact.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
