extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'Hubb Net is a global online marketplace for live experiences that enables its users to search and create plans.'
  - ogUrl           = ''
  - ogImage         = ''

block body
  //- Hero Section
  include ../includes/hero.pug

  //- Features Section
  include ../includes/features.pug

  //- Stairs Section
  include ../includes/stairs.pug

  //- App Section
  include ../includes/app.pug

  //- People Section
  include ../includes/people.pug
