extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'Search less, Hang out more! Groups, Chats, Events - Tap to see details.'
  - ogUrl           = 'https://hubb-me.com/'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  //- Hero Section
  include ../includes/hero.pug

  //- Details Section
  include ../includes/details.pug

  //- Slider Section
  include ../includes/slider.pug
