extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'A starter kit workflow using Webpack, PUG, SCSS, SMACSS-ITCSS, BEM, PostCSS & Babel.'
  - ogUrl           = 'https://erwcode.com'
  - ogImage         = 'https://erwcode.com/assets/images/erwcode.jpg'

block body
  //- Logo Section
  include ../includes/logo.pug
