extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'Search less, Hang out more! Groups, Chats, Events - Tap to see details.'
  - ogUrl           = 'https://hubb-me.com/'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  //- Hero Section
  include ../includes/hero.pug

  //- Features Section
  include ../includes/features.pug

  //- Stairs Section
  include ../includes/stairs.pug

  //- App Section
  include ../includes/app.pug

  //- People Section
  include ../includes/people.pug

  //- Newsletter Section
  include ../includes/newsletter.pug
