extends ../template.pug
append variables
  - pageTitle       = 'Landing Page'
  - metaDescription = 'Search less, Hang out more! Groups, Chats, Events - Tap to see details.'
  - ogUrl           = 'https://hubb-me.com/landing.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  //- Hero Section
  .hero
    .hero__container.l-container
      img(class="hero__image hero__image--glass", src="/assets/images/party-cup.gif", alt="Hubb Party Cup")
