extends ../template.pug
append variables
  - pageTitle       = 'Live College to The Fullest'
  - metaDescription = 'Search less, Hang out more! Groups, Chats, Events - Tap to see details.'
  - ogUrl           = 'https://hubb-me.com/landing.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  //- Hero Section
  .hero.hero--landing
    .hero__container.l-container
      a.logo__link(href="/"): img(class="hero__image animate__animated animate__rubberBand", loading="lazy", src="/assets/images/hubb-logo.svg", alt="Hubb logo")
      h1(class="hero__title hero__title--landing") Search less, Hang out more!
      .hero__download
        a(class="hero__link", href="https://facebook.com/hubbpage?appstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", loading="lazy", src="/assets/images/app-store.svg", alt="Download Hubb App on the App Store")
        a(class="hero__link", href="https://facebook.com/hubbpage?playstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", loading="lazy", src="/assets/images/google-play.svg", alt="Download Hubb App on Google Play")
      p.hero__description Sign up to get an #[strong Early Access] before the release!
      form(class="register__form", id="registerForm")
        input(class="register__email", type="email", name="userEmail", placeholder="Enter Your Email", required)
        button(class="register__button", type="submit"): img(src="/assets/images/icon-arrow.svg", alt="Submit")

  //- Experience Secction
  include ../includes/experience.pug

  //- Objective Section
  .objective
    .objective__container.l-container
      img(class="objective__image", src="/assets/images/hubb-app.gif", alt="Hubb App Userflow")
      p.objective__text We built #[img(class="objective__logo", loading="lazy", src="/assets/images/friends-hubb.svg", alt="Friends Hubb App")] to keep you connected with everyone you love. One of our goals from the beginning has been to provide a place to discover things to do and allow you to do those things with your favorite people.

  //- Videos Section
  include ../includes/video.pug
