extends ../template.pug
append variables
  - pageTitle       = 'Privacy'
  - metaDescription = 'This Privacy Policy document contains types of information that Hubb collected'
  - ogUrl           = ''
  - ogImage         = ''

block body
