extends ../template.pug
append variables
  - pageTitle       = 'Terms of Service'
  - metaDescription = 'Please read these Hubb terms and conditions carefully before using our Service.'
  - ogUrl           = ''
  - ogImage         = ''

block body
