extends ../template.pug
append variables
  - pageTitle       = 'Terms of Service'
  - metaDescription = 'Please read these Hubb terms and conditions carefully before using our Service.'
  - ogUrl           = ''
  - ogImage         = ''

block body
  //- Terms Section
  section.terms
    .terms__container.l-container
      h1(class="terms__title", data-terms="Terms of Service") Terms of Service
      span.terms__date Last updated: March 25, 2021
      p.terms__text Please read these terms and conditions carefully before using Our Service.

      .terms__description
        h2.terms__section.terms__section--odd Interpretation
        p.terms__text The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.

      .terms__description
        h2.terms__section.terms__section--even Description
        p.terms__text For the purposes of these Terms and Conditions:
        p.terms__text #[strong Affiliate] means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.
        p.terms__text #[strong Country] refers to: Florida, United States
        p.terms__text #[strong Company] (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Hubb.
        p.terms__text #[strong Device] means any device that can access the Service such as a computer, a cellphone or a digital tablet.
        p.terms__text #[strong Service] refers to the Website.
        p.terms__text #[strong Terms and Conditions] (also referred as "Terms") mean these Terms and Conditions that form the entire agreement between You and the Company regarding the use of the Service. This Terms and Conditions agreement has been created with the help of the Terms and Conditions Generator.
        p.terms__text #[strong Third-party Social Media Service] means any services or content (including data, information, products or services) provided by a third-party that may be displayed, included or made available by the Service.
        p.terms__text #[strong Website] refers to Hubb, accessible from #[a(class="terms__link", href="/") www.hubb-me.com]
        p.terms__text #[strong You] means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.

      .terms__description
        h2.terms__section.terms__section--odd Acknowledgment
        p.terms__text These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and the Company. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.

      .terms__description
        h2.terms__section.terms__section--even Links to Other Websites
        p.terms__text Our Service may contain links to third-party web sites or services that are not owned or controlled by the Company.
        p.terms__text The Company has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that the Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such web sites or services.
        p.terms__text We strongly advise You to read the terms and conditions and privacy policies of any third-party web sites or services that You visit.

      .terms__description
        h2.terms__section.terms__section--odd Termination
        p.terms__text We may terminate or suspend Your access immediately, without prior notice or liability, for any reason whatsoever, including without limitation if You breach these Terms and Conditions.
        p.terms__text Upon termination, Your right to use the Service will cease immediately.

      .terms__description
        h2.terms__section.terms__section--even Governing Law
        p.terms__text The laws of the Country, excluding its conflicts of law rules, shall govern this Terms and Your use of the Service. Your use of the Application may also be subject to other local, state, national, or international laws.

      .terms__description
        h2.terms__section.terms__section--odd Changes to These Terms and Conditions
        p.terms__text We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. If a revision is material We will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at Our sole discretion.
        p.terms__text By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the website and the Service.

      .terms__description
        h2.terms__section.terms__section--even Contact Us
        p.terms__text If you have any questions about these Terms and Conditions, You can contact us:
        p.terms__text By email: #[a(class="terms__link", href="mailto:contact@hubb-me.com") contact@hubb-me.com]

  //- Columns Section
  include ../includes/columns.pug
