extends ../template.pug
append variables
  - pageTitle       = 'Thanks'
  - metaDescription = 'The app for making real life moments happen.'
  - ogUrl           = 'https://hubb-me.com/thanks.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
