extends ../template.pug
append variables
  - pageTitle       = 'Thanks'
  - metaDescription = 'The app for making real life moments happen.'
  - ogUrl           = 'https://hubb-me.com/thanks.html'
  - ogImage         = 'https://hubb-me.com/assets/images/hubb.jpg'

block body
  //- Thanks Section
  section.thanks
    .thanks__container.l-container
      h1(class="thanks__title", data-thanks="THANKS") THANKS
      p.thanks__text The app for making real life moments happen.
      .thanks__stores
        a(class="hero__link", href="https://facebook.com/hubbpage?appstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", src="/assets/images/app-store.svg", alt="Download Hubb App on the App Store")
        a(class="hero__link", href="https://facebook.com/hubbpage?playstore", target="_blank", rel="follow noopener noreferrer"): img(class="hero__store", src="/assets/images/google-play.svg", alt="Download Hubb App on Google Play")
