<IfModule mod_rewrite.c>

  # FORCE_SSL_REDIRECT
  RewriteEngine on
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP_HOST} (www\.)?hubb-me.com
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

</IfModule>
