/*-------------------------------------------------------*\
    SMACSS-ITCSS ARCHITECTURE FOR STRUCTURING CSS
\*-------------------------------------------------------*/

/*  Settings Layer
    Global variables, fonts, mixins and functions.
\*-------------------------------------------------------*/
@import 'settings/variables';
@import 'settings/fonts';
@import 'settings/mixins';


/*  Base Rules
    Ground-zero styles (Normalize.css, resets, box-sizing).
\*-------------------------------------------------------*/
@import 'base/reset';


/*  Layout Rules
    All types of layout containers.
\*-------------------------------------------------------*/
@import 'layout/l-container';


/*  Components Rules
    UI elements that are reusable on the page.
\*-------------------------------------------------------*/
@import 'components/logo';


/*  State Rules
    How components looks in different dynamic situations.
\*-------------------------------------------------------*/
@import 'state/is-active';


/*  Theme Rules
    Styles that override or extend the modules from UI
\*-------------------------------------------------------*/
@import 'theme/dark';

